In [4]:
import pandas as pd

In [5]:
cartoes = pd.read_csv("../data/dados_cartoes.csv")

In [6]:
cartoes

,data_pgto,ano,mes,forma_pagamento,valor,tipo_despesa,nome_fornecedor,id_servidor,mandato,posicao_mandato
0,2003-01-02,2003,1,Débito,1696.90,LOCACAO DE MEIOS DE TRANSPORTE,JW TRANSPORTADORA TURÍSTICA,10.008,Lula (1º Mandato),1
1,2003-01-02,2003,1,Débito,1336.60,LOCACAO DE MEIOS DE TRANSPORTE,JW TRANSPORTADORA TURÍSTICA,10.008,Lula (1º Mandato),1
2,2003-01-02,2003,1,Débito,1396.43,LOCACAO DE MEIOS DE TRANSPORTE,JW TRANSPORTADORA TURÍSTICA,868.251,Lula (1º Mandato),1
3,2003-01-03,2003,1,Débito,105.00,MATERIAL P/MANUTENÇÃO DE BENS MÓVEIS,SEBASTIO ALVES DE SOUSA - ME,262.328,Lula (1º Mandato),1
4,2003-01-03,2003,1,Débito,200.00,MATERIAL P/MANUTENÇÃO DE BENS MÓVEIS,JOÃO LEITE NETO - ME - JLN ELETRONICOS,262.328,Lula (1º Mandato),1
...,...,...,...,...,...,...,...,...,...,...
114958,2022-12-29,2022,12,Crédito,210.80,GENEROS DE ALIMENTAÇÃO,ZAIANNA CRISTINA C0MERCIO DE ALIMENTOS LTDA,135.521,Jair Bolsonaro,7
114959,2022-12-29,2022,12,Crédito,536.13,GENEROS DE ALIMENTAÇÃO,CASA DO CHOCOLATE PRODUTOS ALIMENTICIOS,135.521,Jair Bolsonaro,7
114960,2022-12-29,2022,12,Crédito,673.82,GENEROS DE ALIMENTAÇÃO,MERCADINHO LA PALMA LTDA,135.521,Jair Bolsonaro,7
114961,2022-12-29,2022,12,Crédito,2147.53,GENEROS DE ALIMENTAÇÃO,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO,135.521,Jair Bolsonaro,7
114962,2022-12-31,2022,12,Crédito,36327.36,"SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL",SIGNATURE FLIGHT SUPPORT,725.557,Jair Bolsonaro,7